<!DOCTYPE html>
<html>
<head>
    <title>Blood Bank Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body class="home-page">

    <div class="home-card">
        <h1>Online Blood Bank<br>Management System</h1>

        <a href="/admin" class="home-btn">Admin Login</a>
        <a href="/donor/register" class="home-btn">Donor Registration</a>
        <a href="/patient/request" class="home-btn">Patient Blood Request</a>
    </div>

</body>
</html>
