<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donor List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="table-container">
    <h2>Registered Donors</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Blood Group</th>
            <th>Phone</th>
        </tr>

        {% for d in donors %}
        <tr>
            <td>{{ d["id"] }}</td>
            <td>{{ d["full_name"] }}</td>
            <td>{{ d["blood_group"] }}</td>
            <td>{{ d["phone"] }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="/admin/dashboard" class="back-link">← Back to Dashboard</a>
</div>

</body>
</html>
